body {
  margin: 0;
}

header {
  display: flex;
  justify-content: space-around;
  margin-top: 1.5em;
}

.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content {
  flex: 1;
}

.max-logo {
  max-width: 150px;
  max-height: 80px;
}

.designer-quote {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.intro,
.title {
  margin: 0;
}

.cards-title {
  text-align: center;
}

.deck {
  display: flex;
  justify-content: space-evenly;
}
