@font-face {
  font-family: "Bakerville Italic";
  src: url('../fonts/Baskerville-Italic.ttf');
}

@font-face {
  font-family: "Helvetica Neue Light";
  src: url("../fonts/Helvetica-Neue-Light.ttf");
}

@media (max-width: 650px) {
  .container {
    margin: 20px 0;
    margin-right: 0 !important;
  }

  .frameContainer {
    display: flex;
    justify-content: center;
  }

  .image {
    width: 60% !important;
    margin-bottom: 20px !important;
  }

  .textContainer {
    margin: 0 10px;
  }
}


.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 10px;
}

.image {
  height: 169px;
  width: 100%;
  display: block;
  margin-top: 20px;
}

.title,
.url {
  margin: 0;
  text-align: center;
}

.title {
  font-family: "Helvetica Neue Light";
  font-size: 28px;
}

.url {
  color: #bb1f25;
  font-family: "Bakerville Italic";
  font-size: 24px;
}

.textContainer {
  border-top: 2px solid #0d4b6e;
  border-bottom: 4px solid #0d4b6e;
  padding: 0 10px;
}

