.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: 20px;
}

.image {
  max-width: 200px;
  margin-top: 20px;
  background-size: 150px;
}

.title,
.url {
  margin: 0;
  text-align: center;
}

.textContainer {
  border-top: 2px solid;
  border-bottom: 4px solid;
}
