@font-face {
  font-family: "Helvetica Neue Bold";
  src: url("../fonts/Helvetica-Neue-Bold.ttf");
}

@font-face {
  font-family: "Helvetica Neue Light";
  src: url("../fonts/Helvetica-Neue-Light.ttf");
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #3d3d3d;
}

.intro {
  margin: 0;
  font-family: "Helvetica Neue Bold";
  font-size: 28px;
}

.title {
  margin: 0;
  font-family: "Helvetica Neue Light";
  font-size: 24px;
}
